<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-6 offset-2">
        <h1 class="mb-4 text-center"><b>Sign Up For Wonder<span style="color:#FF5A5F ;">Wrld</span></b></h1>

        <form action="/signup" method="POST" class="needs-validation" novalidate>
            
            <!-- Username -->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" placeholder="Username" type="text" class="form-control" id="username" required>
                <div class="invalid-feedback">Username should be valid!</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input name="email" placeholder="E-mail" type="email" class="form-control" id="email" required>
                <div class="invalid-feedback">E-mail should be valid!</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" placeholder="Password" type="password" class="form-control" id="password" required>
                <div class="invalid-feedback">Password should be strong!</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
    </div>
</div>
