<%layout("/layouts/boilerplate")%>
<body>
    <h1>ALL LISTINGS</h1>
   <%#<form method="get" action="/listings/new">
        <button>Create new one</button>
    </form> %>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    
        <% for (let listings of allListing) { %>
            <div class="col">
                <a href="/listings/<%= listings._id %>" class="linkinglist">
                    <div class="card h-100 shadow-sm">
                        <img 
                            src="<%= listings.image.url || '/path/to/placeholder-image.jpg' %>" 
                            class="card-img-top" 
                            alt="hotel image" 
                            style="height: 20rem; object-fit: cover;">
                            <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <h5 class="card-title"><b><%= listings.title %></b></h5>
                            <p class="card-text">
                                ₹ <%= listings.price.toLocaleString("en-IN") %>/Night
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
        
</div>



    
</body>
</html>
