<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW ONE</title>
</head>
<body>
    <h1>Create New List</h1>
    <form method="post" action="/listings">
        <input name="Listing[title]" placeholder="Hotel name" type="text">
        <br>
        <br>
        <br>
       <textarea name="Listing[description]" placeholder="Description" type="text"></textarea>
       <br>
       <br>
       <br>
       <input name="Listing[image]" placeholder="Enter image url/link" type="text">
       <br>
       <br>
       <br>
       <input name="Listing[price]" placeholder="enter price">
       <br>
       <br>
       <br>
       <input name="Listing[location]" placeholder="enter location" type="text">
       <br>
       <br>
       <br>
       <input name="Listing[country]" placeholder="enter location" type="text">
       <BR>
        <br>
            <button>ADD</button>
    </form>
    
</body>
</html>